<h1> {{ title }} </h1>

<ul *ngFor="let task of todos">
  <li> {{ task.id }}. {{ task.title }} -
    <button *ngIf="!task.done" (click)="markAsDone(task)">CONCLUIR</button>
    <button *ngIf="task.done" (click)="markAsUndone(task)">REFAZER</button>
    | <button (click)="remove(task)">REMOVER</button>
  </li>
</ul>


<form [formGroup]="form">
  <fieldset>
    <label>Tarefa</label>
    <input
      type="text"
      placeholder="Título da Tarefa"
      maxlength="60"
      formControlName="title"
    >
    <button>Salvar</button>
  </fieldset>
</form>
